# Лабараторная 6

## Вариант студенты 2

### Задание 1:
Импорт необходимых библиотек
### Задание 2:
Импорт данных из csv файла

In [34]:
import pandas as pd
import numpy as np

data1 = pd.read_csv("C:/Users/Konstantin/Desktop/student-mat.csv")

### Задание 3: 
Вывод первых 10 строк

In [35]:
print(data1.head(20))

   school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0      GP   F   18       U     GT3       A     4     4   at_home   teacher
1      GP   F   17       U     GT3       T     1     1   at_home     other
2      GP   F   15       U     LE3       T     1     1   at_home     other
3      GP   F   15       U     GT3       T     4     2    health  services
4      GP   F   16       U     GT3       T     3     3     other     other
5      GP   M   16       U     LE3       T     4     3  services     other
6      GP   M   16       U     LE3       T     2     2     other     other
7      GP   F   17       U     GT3       A     4     4     other   teacher
8      GP   M   15       U     LE3       A     3     2  services     other
9      GP   M   15       U     GT3       T     3     4     other     other
10     GP   F   15       U     GT3       T     4     4   teacher    health
11     GP   F   15       U     GT3       T     2     1  services     other
12     GP   M   15       U     LE3       T     4     4    health  services
13     GP   M   15       U     GT3       T     4     3   teacher     other
14     GP   M   15       U     GT3       A     2     2     other     other
15     GP   F   16       U     GT3       T     4     4    health     other
16     GP   F   16       U     GT3       T     4     4  services  services
17     GP   F   16       U     GT3       T     3     3     other     other
18     GP   M   17       U     GT3       T     3     2  services  services
19     GP   M   16       U     LE3       T     4     3    health     other

    ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0   ...      4        3      4     1     1      3        6   5   6   6
1   ...      5        3      3     1     1      3        4   5   5   6
2   ...      4        3      2     2     3      3       10   7   8  10
3   ...      3        2      2     1     1      5        2  15  14  15
4   ...      4        3      2     1     2      5        4   6  10  10
5   ...      5        4      2     1     2      5       10  15  15  15
6   ...      4        4      4     1     1      3        0  12  12  11
7   ...      4        1      4     1     1      1        6   6   5   6
8   ...      4        2      2     1     1      1        0  16  18  19
9   ...      5        5      1     1     1      5        0  14  15  15
10  ...      3        3      3     1     2      2        0  10   8   9
11  ...      5        2      2     1     1      4        4  10  12  12
12  ...      4        3      3     1     3      5        2  14  14  14
13  ...      5        4      3     1     2      3        2  10  10  11
14  ...      4        5      2     1     1      3        0  14  16  16
15  ...      4        4      4     1     2      2        4  14  14  14
16  ...      3        2      3     1     2      2        6  13  14  14
17  ...      5        3      2     1     1      4        4   8  10  10
18  ...      5        5      5     2     4      5       16   6   5   5
19  ...      3        1      3     1     3      5        4   8  10  10

[20 rows x 33 columns]

### Задание 4: 
Сколько строк и столбцов в наборе данных?

In [7]:
print(data)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

Делаем вывод, что в этом наборе данных 395 строк и 33 столбца

### Задание 5: 
Вывод имен столбцов

In [8]:
print(data.columns)

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

### Задание 6: 
Что является индексом набора данных?

В данном наборе данных индексом является номер строки

### Задание 7: 
Создайте новый датафрейм fam, выполнив срез от столбца school до
столбца famrel и удалив все столбцы от traveltime до romantic
включительно (оставив только характеристики семьи)

In [9]:
fam = data.loc[:, slice('school','famrel',1)]
#fam.drop(['traveltime','romantic'],axis = 1)
print(fam)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... failures schoolsup  famsup  paid  activities nursery higher internet  \
0    ...        0       yes      no    no          no     yes    yes       no
1    ...        0        no     yes    no          no      no    yes      yes
2    ...        3       yes      no   yes          no     yes    yes      yes
3    ...        0        no     yes   yes         yes     yes    yes      yes
4    ...        0        no     yes   yes          no     yes    yes       no
..   ...      ...       ...     ...   ...         ...     ...    ...      ...
390  ...        2        no     yes   yes          no     yes    yes       no
391  ...        0        no      no    no          no      no    yes      yes
392  ...        3        no      no    no          no      no    yes       no
393  ...        0        no      no    no          no      no    yes      yes
394  ...        0        no      no    no          no     yes    yes      yes

    romantic famrel
0         no      4
1         no      5
2         no      4
3        yes      3
4         no      4
..       ...    ...
390       no      5
391       no      2
392       no      5
393       no      4
394       no      3

[395 rows x 24 columns]

### Задание 8: 
Определите процент городских и сельских студентов в каждой школе

In [31]:
GP_School = data[data['school'] == 'GP']
MS_School = data[data['school'] == 'MS']


GP_City_percent = len(GP_School[GP_School['address'] == 'U'])/(len(data.index))
print(f'Процент городких жителей в "GP" = {round(GP_City_percent*100)}%')

GP_County_percent = len(GP_School[GP_School['address'] == 'R'])/(len(data.index))
print(f'Процент сельских жителей в "GP" = {round(GP_County_percent*100)}%')

MS_City_percent = len(MS_School[MS_School['address'] == 'U'])/(len(data.index))
print(f'Процент городких жителей в "MS" = {round(MS_City_percent*100)}%')

MS_County_percent = len(MS_School[MS_School['address'] == 'R'])/(len(data.index))
print(f'Процент сельских жителей в "MS" = {round(MS_County_percent*100)}%')

Процент городких жителей в "GP" = 72%
Процент сельских жителей в "GP" = 16%
Процент городких жителей в "MS" = 5%
Процент сельских жителей в "MS" = 6%

### Задание 9: 
У какого процента студентов (по школам) и мать и отец имеют высшее образование?

In [11]:
GP_Parents = len(GP_School[GP_School['Medu' and 'Fedu'] == 4])/(len(data.index))
print(f'Процент родителей с высшим образованием в "GP" = {round(GP_Parents*100)}%')

MS_Parents = len(MS_School[MS_School['Medu' and 'Fedu'] == 4])/(len(data.index))
print(f'Процент родителей с высшим образованием в "MS" = {round(MS_Parents*100)}%')

Процент родителей с высшим образованием в "GP" = 22%
Процент родителей с высшим образованием в "MS" = 2%

### Задание 10:
У какого процента студентов (по школам) и мать и отец вообще не имеют образования?

In [12]:
GP_Parents_none = len(GP_School[GP_School['Medu' and 'Fedu'] == 0])/(len(data.index))
print(f'Процент родителей без образования в "GP" = {GP_Parents_none*100}%')

MS_Parents_none = len(MS_School[MS_School['Medu' and 'Fedu'] == 0])/(len(data.index))
print(f'Процент родителей без образования в "MS" = {MS_Parents_none*100}%')

Процент родителей без образования в "GP" = 0.5063291139240507%
Процент родителей без образования в "MS" = 0.0%

### Задание 11: 
Какой процент родителей, имеющих высшее образование, проживает совместно?

In [13]:
Parents = data[data['Medu' and 'Fedu'] == 4]
parentsTogether = len(Parents[Parents['Pstatus'] == 'T'])/(len(data.index))

print(f'Процент родителей с высшим образованием, которые живут совместно = {round(parentsTogether*100)}%')

Процент родителей с высшим образованием, которые живут совместно = 21%

### Задание 12:
Определите процент семей, в которых один из родителей имеет высшее образование, а другой не имеет, но проживают совместно

In [14]:
ParentsHigh = data[data['Medu' and 'Fedu'] != 4]

parentsTogetherHigh = ParentsHigh[ParentsHigh['Pstatus'] == 'T']

print('Процент семей, в которых один из родителей имеет высшее образование' +
      f', а другой не имеет, но которые живут совместно = {round(len(parentsTogetherHigh)/(len(data.index)),1)*100}%')

Процент семей, в которых один из родителей имеет высшее образование, а другой не имеет, но которые живут совместно = 70.0%

### Задание 13:
Какое качество семейных отношений в этих семьях?

In [16]:
print(pd.Int64Index(parentsTogetherHigh[parentsTogetherHigh['famrel']]))

KeyError: "None of [Int64Index([5, 4, 3, 4, 5, 4, 5, 5, 5, 5,\n            ...\n            4, 5, 5, 5, 4, 1, 2, 5, 4, 3],\n           dtype='int64', length=273)] are in the [columns]"

## Задание 14:
14.У скольких студентов работа одного или обоих родителей связана с
гражданскими услугами (административными или полицейскими)?

In [23]:
work = len(data[data['Mjob' or 'Fjob'] == 'reputation'])

print(work)

0